.main {
  background: url("../../img/main-bg.jpg") center/cover no-repeat;
  height: 100vh;
  position: relative;

  &__discounts {
    margin-top: 300px;
    margin-left: 250px;
  }

  &__sale {
    color: $black-grey;
    font-family: "Poppins", sans-serif;
    font-size: 20.09rem;
    font-weight: 600;
    padding-bottom: 34px;
    margin: 0;
    line-height: 20.09rem;
  }

  &__discount-amount {
    color: $black-grey;
    font-family: "Poppins", sans-serif;
    font-size: 6.2rem;
    font-weight: 600;
    margin: 0;
    line-height: 6.2rem;
  }

  &__circles {
    position: absolute;
    top: 93%;
    left: 50%;
  }
}
